.registration-order__header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 21px;
}

.registration-order__header span {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: -0.01em;
	line-height: 24px;
	color: var(--text-magenta);
}

.receiver-form__form-filled {
	display: flex;
	flex-direction: column;
	gap: 36px;
}

div.cart-info__registration-order
	> div.registration-order__payment-form
	> div.registration-order__header {
	margin-bottom: 14px;
}

div.cart-info__registration-order
	> div.registration-order__receiver-form
	> div {
	margin-bottom: 35px;
}

.form-filled__top,
.form-filled__bottom {
	display: flex;
	gap: 24px;
}

.receiver-form__form-filled input {
	color: var(--text-black);
	font-size: 16px;
	line-height: 24px;
	border-bottom: 1px solid #8a898e;
}

.receiver-form__form-filled input::placeholder {
	color: #8a898e;
}

.receiver-form__form-filled .form-filled__error {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	opacity: 0;
	color: #f55123;
}

.form-filled__error.active {
	opacity: 1;
}

.form-filled__hint.active {
	color: #f55123;
}

.input-form__wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 4px;
	position: relative;
}

.input-form__wrapper input {
	width: inherit;
	display: block;
}

.input-form__wrapper label {
	position: absolute;
	top: 0;
	color: #8a898e;
	font-size: 16px;
	pointer-events: none;
	transform: translateY(0);
	transition: all 0.4s ease-in-out;
}

.input-form__wrapper label:before {
	content: none;
}

.input-form__wrapper input::placeholder {
	color: transparent;
}

.input-form__wrapper input:focus + label,
.input-form__wrapper input:not(:placeholder-shown) + label {
	font-size: 13px;
	transform: translateY(-15px);
}

.form-filled__hint {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: var(--text-black);
	opacity: 1;
}

.form__warning {
	margin-top: 8px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #ff3b30;
}
