@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI'), local('SegoeUI'), url('SegoeUI.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('SegoeUI-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
		url('SegoeUI-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
