* {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	border: none;
	outline: none;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', sans-serif, system-ui, -apple-system, Roboto;
	background: #f6f6fa;
}

a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

button {
	font-size: inherit;
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
