:root {
	--white: #ffffff;
	--primary: #6725a8;
	--text-black: #000;
	--text-magenta: #cb11ab;
	--text-green: #0cb477;
	--text-grey: #a0a0a4;

	--bg-grey-light: #f0ecf4;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
}

.header {
	display: block;
	position: relative;
	background-color: var(--primary);
	padding: 20px 0 40px;
}

.header::after {
	content: '';
	display: block;
	width: 100%;
	height: 24px;
	background: #f6f6fa;
	border-radius: 24px 24px 0px 0px;
	position: absolute;
	bottom: -4px;
}

.main {
	margin-bottom: 26px;
}

.header__container,
.main__container {
	max-width: 1400px;
	display: flex;
	margin: 0 auto;
}

.header__container {
	align-items: center;
	gap: 32px;
	padding: 0 24px;
}

.header__nav-element {
	display: flex;
	align-items: center;
	gap: 16px;
}

.nav-element__burger {
	border: 1px solid rgba(255, 255, 255, 0.45);
	border-radius: 8px;
	padding: 12px 10px;
	transition: border-color ease-in-out 0.2s;
}

.nav-element__burger:hover {
	border-color: var(--white);
}

.nav-element__burger > img {
	display: block;
}

.nav-element__logo {
	max-width: 110px;
	color: var(--white);
	font-weight: 600;
	font-size: 28px;
	line-height: 24px;
	letter-spacing: 0.02em;
	cursor: default;
}

.header__search-catalog {
	flex-grow: 1;
}

.search-catalog__container {
	position: relative;
}

.search-catalog__input {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: var(--white);
	width: 100%;
	padding: 10px 52px 14px 20px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 36px;
	cursor: pointer;
}

.search-catalog__input::placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: var(--white);
	opacity: 0.5;
}

.search-catalog__input:focus {
	cursor: text;
}

.search-catalog__btn-wrap {
	display: flex;
	position: absolute;
	top: 13.5px;
	right: 22.5px;
}

.search-catalog__btn {
	display: block;
	position: relative;
	color: var(--white);
	opacity: 0.5;
	cursor: pointer;
	transition: opacity linear 0.2s;
}

.search-catalog__btn:hover {
	opacity: 1;
}

.header__navbar-menu {
	position: relative;
	display: flex;
	gap: 40px;
}

.navbar-menu__item {
	cursor: pointer;
}

.navbar-menu__link {
	color: var(--white);
	text-decoration: none;
}

.navbar-menu__icon {
	display: block;
	height: 22px;
	margin: 0 auto 6px;
	position: relative;
}

.mobile {
	display: none;
}

.header__burger > img {
	display: block;
	width: 22.5px;
	height: 18.5px;
}

.header__search {
	height: 20.14px;
}

.main__container {
	display: flex;
	gap: 32px;
	padding: 0 24px;
	margin-top: 10px;
}

.cart-info {
	max-width: 892px;
	width: 100%;
}

.cart-info__main-title {
	font-weight: 700;
	font-size: 28px;
	line-height: 36px;
}
.cart-info__list-items {
	margin-top: 27px;
}

/* прячем input checkbox */
input[type='checkbox'] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

/* стили для метки */
.item-card label {
	display: flex;
	align-items: center;
	height: 100%;
	color: #000;
	line-height: 24px;
	user-select: none;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
	content: '';
	color: var(--white);
	display: inline-flex;
	margin-right: 11px;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	vertical-align: bottom;
}

/* вариации внешнего вида в зависимости от статуса checkbox */
/* checked */
input:checked + label::before {
	content: url(/assets/images/icons/check.svg);
	background: center var(--text-magenta);
	border: none;
}

.list-items__checkbox-all,
.list-items__checkbox-all-missing {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.list-items__item:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 12px;
}

.list-items__main {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.list-items__item {
	display: flex;
	justify-content: space-between;
}

.item-card {
	position: relative;
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.item-card__wrapper-photo {
	display: flex;
	align-items: center;
}

.item-card__photo {
	margin-right: 16px;
}

.item-card__info {
	max-width: 275px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.item-card__info-detail {
	display: flex;
	margin-right: 32px;
}

.info__title {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.info__params {
	display: flex;
	gap: 16px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

.info__extra {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #a0a0a4;
}

.info-detail__price-mobile {
	display: none;
}

.extra__wrapper {
	margin-top: -4px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.form__counter {
	background: #ffffff;
	border-radius: 8px;
	width: 100px;
	height: 44px;
	display: flex;
}

.form__counter input {
	border: none;
	background: transparent;
	font-size: 20px;
	width: calc(100% / 3);
	height: 100%;
	cursor: pointer;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.form__warning {
	margin-top: 8px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #ff3b30;
}

.info-detail__count {
	display: flex;
	margin-right: 32px;
	flex-direction: column;
	gap: 8px;
}

.count__buttons {
	display: flex;
	gap: 16px;
	justify-content: end;
}

.info-detail__price {
	display: flex;
	flex-direction: column;
	width: 110px;
	align-items: end;
	text-align: end;
}

.price__discount {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
}

.price__discount-large {
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
}

.price__discount > span {
	font-size: 16px;
	line-height: 24px;
}

.checkbox-all__wrapper {
	display: flex;
}

.price__no-discount-wrapper {
	display: inline-block;
	font-weight: 400;
	font-size: 13px;
	line-height: 17px;
	color: #a0a0a4;
}

.price__no-discount {
	text-decoration: line-through;
	border-bottom: 1.2px dashed;
	white-space: nowrap;
}

.aside__total {
	display: flex;
	flex-direction: column;
	margin-top: -10px;
	gap: 24px;
	height: fit-content;
	max-width: 430px;
	width: 100%;
	background: #ffffff;
	padding: 16px 24px 24px 24px;
	box-shadow: 0px 2px 10px rgb(0 0 0 / 15%), 0px 0px 1px rgb(0 0 0 / 30%);
	border-radius: 16px;
	z-index: 1;
}

.accordion .contentBx,
.contentBx-missing {
	position: relative;
	margin-bottom: 40px;
}

.accordion .contentBx .list-items__checkbox-all,
.accordion .contentBx-missing .list-items__checkbox-all-missing {
	position: relative;
	cursor: pointer;
}

.accordion .contentBx .content,
.accordion .contentBx-missing .content {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: 0.5s;
}

.accordion .contentBx.active .content,
.accordion .contentBx-missing.active .content {
	height: min-content;
}

.checkbox-all__arrow-icon {
	transition: transform 0.2s ease-out;
}

.contentBx.active .checkbox-all__arrow-icon,
.contentBx-missing.active .checkbox-all__arrow-icon {
	transform: rotate(-180deg);
}

.total-info__price {
	display: flex;
	justify-content: space-between;
}

.price-sum__detail {
	text-align: end;
}

.detail-text-main,
.detail-main-sum {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.01em;
}

.detail-text {
	line-height: 24px;
}

.detail-main-sum span {
	font-size: 20px;
	line-height: 28px;
}

.detail-delivery {
	display: flex;
	justify-content: space-between;
}

.detail-delivery__main-text {
	font-size: 16px;
	line-height: 24px;
}

.second-text__address {
	font-size: 13px;
	line-height: 16px;
}

.second-text__date {
	font-size: 13px;
	line-height: 16px;
	color: #cb11ab;
	border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}

.detail-free {
	display: flex;
	justify-content: center;
	background: #f6f6fa;
	gap: 8px;
	padding: 8px 8px 12px;
	border-radius: 8px;
}

.detail-free__text {
	text-align: start;
	font-size: 13px;
	line-height: 16px;
}

.detail-free__text span {
	color: #0cb477;
	border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.detail-delivery__second-text {
	margin-bottom: 12px;
}

.total-info__payment {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.payment__confirmation {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background: #f6f6fa;
	padding: 8px 8px 12px;
	border-radius: 8px;
}

.method-card {
	display: flex;
	justify-content: space-between;
}

.method-card__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.method-card__choose {
	display: flex;
	align-items: center;
	gap: 8px;
}

.method-card__choose span {
	display: inline-block;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	padding: 4px 0;
}

.confirmation-label,
.confirmation-text {
	font-size: 13px;
}

.order-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	border-radius: 8px;
	padding: 8px 0 12px;
	background: var(--text-magenta);
	color: var(--white);
	margin-bottom: 12px;
}

.confirmation-rule-label {
	font-size: 13px;
	line-height: 16px;
}

.contentBx-missing {
	margin-top: 0;
}

.confirmation-rule__label:before {
	content: '';
	display: inline-flex;
	margin-right: 11px;
	position: relative;
	width: 22px;
	border: none;
	line-height: 0px;
	border-radius: 6px;
}

input:checked + label.confirmation-rule__label:before {
	content: url(/assets/images/icons/check-black.svg);
	display: flex;
	align-items: center;
	background: transparent;
	border: none;
}

.confirmation-rule__text {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

.checkbox-all__missing-text {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.info-detail__count-wrapper {
	width: 100px;
}

.gray-photo img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.gray-info {
	color: var(--text-grey);
}

.count__buttons svg:hover {
	fill: green !important;
}

.icon-like,
.icon-delete {
	background-color: #000;
	height: 20px;
	width: 20px;
	transition: background-color ease-in 0.2s;
	cursor: pointer;
}

.icon-like {
	-webkit-mask: url(../assets/images/icons/like.svg) no-repeat center;
	mask: url(../assets/images/icons/like.svg) no-repeat center;
}

.icon-delete {
	-webkit-mask: url(../assets/images/icons/delete.svg) no-repeat center;
	mask: url(../assets/images/icons/delete.svg) no-repeat center;
}

.icon-like:hover,
.icon-delete:hover {
	background-color: #f55123;
}

.gray-icon:hover {
	background-color: var(--text-magenta);
}

.cart-info__registration-order {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.cart-info__registration-order > div {
	padding: 12px 24px 24px;
	background: var(--white);
	border-radius: 16px;
}

.registration-order__header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 16px;
}

.registration-order__header span {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: var(--text-magenta);
}

.delivery-form__detail-info {
	display: grid;
	grid-template-columns: minmax(110px, 155px) minmax(100px, auto);
	gap: 16px 32px;
}

.detail-info__heading {
	max-width: 155px;
	width: 100%;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.detail-info__detail-text {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-size: 16px;
	line-height: 24px;
}

.point-info__wrapper-extra {
	display: flex;
	gap: 4px;
	font-size: 13px;
	line-height: 16px;
}

.detail-info__photo-wrapper {
	display: flex;
	gap: 8px;
}

.detail-info__photo-wrapper img {
	width: 40px;
	height: 56px;
}

.detail-info__free {
	display: flex;
	margin-top: 24px;
	align-items: center;
	gap: 8px;
}

.method-card__choose {
	margin-bottom: 8px;
}

.method-card__choose .choose-card {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.payment-form__spoky-text {
	font-size: 13px;
	line-height: 16px;
	color: #a0a0a4;
}

.receiver-form__form-filled {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.form-filled__top,
.form-filled__bottom {
	display: flex;
	gap: 24px;
}

.receiver-form__form-filled input {
	color: var(--text-black);
	font-size: 16px;
	line-height: 24px;
	border-bottom: 1px solid #8a898e;
}

.receiver-form__form-filled input::placeholder {
	color: #8a898e;
}

.receiver-form__form-filled .form-filled__warning,
.form-filled__hint {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	opacity: 0;
	color: #f55123;
}

.input-form__wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 4px;
}

.form-filled__hint {
	color: var(--text-black);
	opacity: 1;
}

.footer {
	display: flex;
	justify-content: center;
	position: relative;
	background-color: var(--primary);
	padding: 48px 0 24px;
}

.footer::after {
	content: '';
	display: block;
	width: 100%;
	height: 24px;
	background: #f6f6fa;
	border-radius: 0 0 24px 24px;
	position: absolute;
	top: -4px;
}

.footer__copyright {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.7);
}

.mobile-menu {
	display: none;
}
