@import url(/styles/adaptive.css);

:root {
	--white: #ffffff;
	--primary: #6725a8;
	--text-black: #000;
	--text-magenta: #cb11ab;
	--text-green: #0cb477;
	--text-grey: #a0a0a4;

	--bg-grey-light: #f0ecf4;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
}

.header {
	display: block;
	position: relative;
	background-color: var(--primary);
	padding: 20px 0 40px;
}

.header::after {
	content: '';
	display: block;
	width: 100%;
	height: 24px;
	background: #f6f6fa;
	border-radius: 24px 24px 0px 0px;
	position: absolute;
	bottom: -4px;
}

.header__container,
.main__container {
	max-width: 1400px;
	display: flex;
	margin: 0 auto;
}

.header__container {
	align-items: center;
	gap: 32px;
	padding: 0 24px;
}

.header__nav-element {
	display: flex;
	align-items: center;
	gap: 16px;
}

.nav-element__burger {
	border: 1px solid rgba(255, 255, 255, 0.45);
	border-radius: 8px;
	padding: 12px 10px;
	transition: border-color ease-in-out 0.2s;
}

.nav-element__burger:hover {
	border-color: var(--white);
}

.nav-element__burger > img {
	display: block;
}

.nav-element__logo {
	max-width: 110px;
	color: var(--white);
	font-weight: 600;
	font-size: 28px;
	line-height: 24px;
	letter-spacing: 0.02em;
	cursor: default;
}

.header__search-catalog {
	flex-grow: 1;
}

.search-catalog__container {
	position: relative;
}

.search-catalog__input {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: var(--white);
	width: 100%;
	padding: 10px 52px 14px 20px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 36px;
	cursor: pointer;
}

.search-catalog__input::placeholder {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: var(--white);
	opacity: 0.5;
}

.search-catalog__input:focus {
	cursor: text;
}

.search-catalog__btn-wrap {
	display: flex;
	position: absolute;
	top: 13.5px;
	right: 22.5px;
}

.search-catalog__btn {
	display: block;
	position: relative;
	color: var(--white);
	opacity: 0.5;
	cursor: pointer;
	transition: opacity linear 0.2s;
}

.search-catalog__btn:hover {
	opacity: 1;
}

.header__navbar-menu {
	position: relative;
	display: flex;
	gap: 40px;
}

.navbar-menu__item {
	cursor: pointer;
}

.navbar-menu__link {
	color: var(--white);
	text-decoration: none;
}

.navbar-menu__icon {
	display: block;
	height: 22px;
	margin: 0 auto 6px;
	position: relative;
}

.mobile {
	display: none;
}

.header__burger > img {
	display: block;
	width: 22.5px;
	height: 18.5px;
}

.header__search {
	height: 20.14px;
}

.main__container {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	margin-top: 10px;
}

.cart-info {
	max-width: 892px;
	width: 100%;
}

.cart-info__main-title {
	font-weight: 700;
	font-size: 28px;
	line-height: 36px;
}
.cart-info__list-items {
	margin-top: 27px;
}

/* прячем input checkbox */
input[type='checkbox'] {
	display: none;
}

/* стили для метки */
label {
	color: #000;
	line-height: 24px;
	vertical-align: middle;
	user-select: none;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
	content: '';
	color: var(--white);
	display: inline-flex;
	margin-right: 11px;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
	content: url(/assets/images/icons/check.svg);
	background: center var(--text-magenta);
	border: none;
}

.list-items__checkbox-all {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.list-items__item:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 12px;
}

.list-items__main {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.list-items__item {
	display: flex;
	justify-content: space-between;
}

.item-card {
	display: flex;
	align-items: flex-start;
}

.item-card__wrapper-photo {
	display: flex;
	align-items: center;
}

.item-card__photo {
	margin-right: 16px;
}

.item-card__info {
	max-width: 275px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.item-card__info-detail {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

.info__title {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.info__params {
	display: flex;
	gap: 16px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

.info__extra {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #a0a0a4;
}

.extra__wrapper {
	margin-top: -4px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.form__counter {
	background: #ffffff;
	border-radius: 8px;
	width: 100px;
	height: 44px;
	display: flex;
}

.form__counter input {
	border: none;
	background: transparent;
	font-size: 20px;
	width: calc(100% / 3);
	height: 100%;
	cursor: pointer;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.form__warning {
	margin-top: 8px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #ff3b30;
}

.info-detail__count {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.count__buttons {
	display: flex;
	gap: 16px;
	justify-content: end;
}

.info-detail__price {
	display: flex;
	flex-direction: column;
	width: 110px;
	align-items: end;
}

.price__discount {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
}

.price__discount-large {
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
}

.price__discount > span {
	font-size: 16px;
	line-height: 24px;
}

.price__no-discount-wrapper {
	display: inline-block;
	font-weight: 400;
	font-size: 13px;
	line-height: 17px;
	color: #a0a0a4;
	text-decoration: line-through;
	border-bottom: 1.2px dashed;
}

.aside__total {
	max-width: 430px;
	width: 100%;
	background: #ffffff;
	padding: 16px 24px 24px 24px;
	box-shadow: 0px 2px 10px rgb(0 0 0 / 15%), 0px 0px 1px rgb(0 0 0 / 30%);
	border-radius: 16px;
}

.accordion .contentBx {
	position: relative;
}

.accordion .contentBx .list-items__checkbox-all {
	position: relative;
	cursor: pointer;
}

.accordion .contentBx .content {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: 0.5s;
}

.accordion .contentBx.active .content {
	height: 500px;
}

.checkbox-all__arrow-icon {
	transition: transform 0.2s ease-out;
}

.contentBx.active .checkbox-all__arrow-icon {
	transform: rotate(-180deg);
}

.total-info__price {
	display: flex;
	justify-content: space-between;
}

.price-sum__detail {
	text-align: end;
}

.detail-text-main,
.detail-main-sum {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.01em;
}

.detail-text {
	line-height: 24px;
}

.detail-main-sum span {
	font-size: 20px;
	line-height: 28px;
}
